# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# booshnickle dark scheme by Honey D (@honeydbeatz)

custom_background_color #191914
custom_text_color #dedeb2

page_separator_color #191914
search_highlight_color #fff299
status_bar_color #191914
status_bar_text_color #dedeb2
ui_text_color #dedeb2
ui_selected_text_color #dedeb2
ui_background_color #3a3a2e
ui_selected_background_color #7c7c63
background_color #191914
visual_mark_color 0.48627451 0.48627451 0.38823529 0.2
text_highlight_color #7c7c63
link_highlight_color #ccbfd9
synctex_highlight_color #ffbfa5
