# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Tokyo Night Moon scheme by Ólafur Bjarki Bogason

custom_background_color #222436
custom_text_color #aeb4d1

page_separator_color #222436
search_highlight_color #ffdf77
status_bar_color #222436
status_bar_text_color #aeb4d1
ui_text_color #aeb4d1
ui_selected_text_color #aeb4d1
ui_background_color #1e2030
ui_selected_background_color #3b4261
background_color #222436
visual_mark_color 0.23137255 0.25882353 0.38039216 0.2
text_highlight_color #3b4261
link_highlight_color #82aaff
synctex_highlight_color #ff757f
