# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Chicago Night scheme by Wendell, Ryan &lt;ryanjwendell@gmail.com&gt;

custom_background_color #1e2a24
custom_text_color #c1cdc7

page_separator_color #1e2a24
search_highlight_color #f9e300
status_bar_color #1e2a24
status_bar_text_color #c1cdc7
ui_text_color #c1cdc7
ui_selected_text_color #c1cdc7
ui_background_color #2a3b32
ui_selected_background_color #5f7368
background_color #1e2a24
visual_mark_color 0.37254902 0.45098039 0.40784314 0.2
text_highlight_color #5f7368
link_highlight_color #522398
synctex_highlight_color #c60c30
