# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Gruvbox Dark Medium (Forest) scheme by Muhammad Talha (muhammadtalha.quant@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #282828
custom_text_color #ebdbb2

page_separator_color #282828
search_highlight_color #fabd2f
status_bar_color #282828
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #3c3836
ui_selected_background_color #665c50
background_color #282828
visual_mark_color 0.40000000 0.36078431 0.31372549 0.2
text_highlight_color #665c50
link_highlight_color #b8bb26
synctex_highlight_color #fb4934
