# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Deep Oceanic Next scheme by spearkkk (https://github.com/spearkkk)

custom_background_color #001c1f
custom_text_color #e0e9ef

page_separator_color #001c1f
search_highlight_color #f3b863
status_bar_color #001c1f
status_bar_text_color #e0e9ef
ui_text_color #e0e9ef
ui_selected_text_color #e0e9ef
ui_background_color #002931
ui_selected_background_color #004852
background_color #001c1f
visual_mark_color 0.00000000 0.28235294 0.32156863 0.2
text_highlight_color #004852
link_highlight_color #568ccf
synctex_highlight_color #d3464d
