# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Chicago Day scheme by Wendell, Ryan &lt;ryanjwendell@gmail.com&gt;

custom_background_color #e8f0ea
custom_text_color #2a3b32

page_separator_color #e8f0ea
search_highlight_color #968400
status_bar_color #e8f0ea
status_bar_text_color #2a3b32
ui_text_color #2a3b32
ui_selected_text_color #2a3b32
ui_background_color #d1e0d7
ui_selected_background_color #8a9a91
background_color #e8f0ea
visual_mark_color 0.54117647 0.60392157 0.56862745 0.2
text_highlight_color #8a9a91
link_highlight_color #522398
synctex_highlight_color #c60c30
