# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Lichen Chartreuse Light scheme by Aaron Colichia (https://aaron.colichia.org/)

custom_background_color #f5f7f2
custom_text_color #232420

page_separator_color #f5f7f2
search_highlight_color #506b29
status_bar_color #f5f7f2
status_bar_text_color #232420
ui_text_color #232420
ui_selected_text_color #232420
ui_background_color #ecefe7
ui_selected_background_color #687161
background_color #f5f7f2
visual_mark_color 0.40784314 0.44313725 0.38039216 0.2
text_highlight_color #687161
link_highlight_color #356e8a
synctex_highlight_color #a34740
