# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Penumbra Dark scheme by Zachary Weiss (https://github.com/zacharyweiss)

custom_background_color #24272b
custom_text_color #fff7ed

page_separator_color #24272b
search_highlight_color #8d9741
status_bar_color #24272b
status_bar_text_color #fff7ed
ui_text_color #fff7ed
ui_selected_text_color #fff7ed
ui_background_color #303338
ui_selected_background_color #636363
background_color #24272b
visual_mark_color 0.38823529 0.38823529 0.38823529 0.2
text_highlight_color #636363
link_highlight_color #5794d0
synctex_highlight_color #ca736c
