# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Still Alive scheme by Derrick McKee (derrick.mckee@gmail.com), Tinted Theming (https://github.com/tinted-theming)

custom_background_color #f0f0f0
custom_text_color #331f21

page_separator_color #f0f0f0
search_highlight_color #fff018
status_bar_color #f0f0f0
status_bar_text_color #331f21
ui_text_color #331f21
ui_selected_text_color #331f21
ui_background_color #d6d6d6
ui_selected_background_color #a3a3a3
background_color #f0f0f0
visual_mark_color 0.63921569 0.63921569 0.63921569 0.2
text_highlight_color #a3a3a3
link_highlight_color #365eff
synctex_highlight_color #d80000
