# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Tinta scheme by Teshre

custom_background_color #101012
custom_text_color #e3e1db

page_separator_color #101012
search_highlight_color #c8b86a
status_bar_color #101012
status_bar_text_color #e3e1db
ui_text_color #e3e1db
ui_selected_text_color #e3e1db
ui_background_color #202023
ui_selected_background_color #62626a
background_color #101012
visual_mark_color 0.38431373 0.38431373 0.41568627 0.2
text_highlight_color #62626a
link_highlight_color #8a9ab0
synctex_highlight_color #d0726a
