# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Cerulean Signal Dark scheme by Aaron Colichia (https://aaron.colichia.org/)

custom_background_color #101722
custom_text_color #f1f6fc

page_separator_color #101722
search_highlight_color #e2c85f
status_bar_color #101722
status_bar_text_color #f1f6fc
ui_text_color #f1f6fc
ui_selected_text_color #f1f6fc
ui_background_color #131c29
ui_selected_background_color #8fa0b5
background_color #101722
visual_mark_color 0.56078431 0.62745098 0.70980392 0.2
text_highlight_color #8fa0b5
link_highlight_color #7dd3ff
synctex_highlight_color #ff8a9a
