# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Swamp Light scheme by Masroof Maindak (https://github.com/masroof-maindak)

custom_background_color #f1e3d1
custom_text_color #786653

page_separator_color #f1e3d1
search_highlight_color #993333
status_bar_color #f1e3d1
status_bar_text_color #786653
ui_text_color #786653
ui_selected_text_color #786653
ui_background_color #ddcebc
ui_selected_background_color #b5a492
background_color #f1e3d1
visual_mark_color 0.70980392 0.64313725 0.57254902 0.2
text_highlight_color #b5a492
link_highlight_color #bf7979
synctex_highlight_color #d09700
