# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Neovim Light scheme by https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c

custom_background_color #e0e2ea
custom_text_color #07080d

page_separator_color #e0e2ea
search_highlight_color #6b5300
status_bar_color #e0e2ea
status_bar_text_color #07080d
ui_text_color #07080d
ui_selected_text_color #07080d
ui_background_color #eef1f8
ui_selected_background_color #4f5258
background_color #e0e2ea
visual_mark_color 0.30980392 0.32156863 0.34509804 0.2
text_highlight_color #4f5258
link_highlight_color #004c73
synctex_highlight_color #590008
