# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Kissa Macchiato scheme by rwendell (https://github.com/rwendell/kissa)

custom_background_color #1f1c16
custom_text_color #e8d5b7

page_separator_color #1f1c16
search_highlight_color #eac67a
status_bar_color #1f1c16
status_bar_text_color #e8d5b7
ui_text_color #e8d5b7
ui_selected_text_color #e8d5b7
ui_background_color #35322d
ui_selected_background_color #b8a48c
background_color #1f1c16
visual_mark_color 0.72156863 0.64313725 0.54901961 0.2
text_highlight_color #b8a48c
link_highlight_color #7fa8d4
synctex_highlight_color #e87777
