# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Linux VT scheme by j-c-m (https://github.com/j-c-m/)

custom_background_color #000000
custom_text_color #cccccc

page_separator_color #000000
search_highlight_color #ffff55
status_bar_color #000000
status_bar_text_color #cccccc
ui_text_color #cccccc
ui_selected_text_color #cccccc
ui_background_color #333333
ui_selected_background_color #555555
background_color #000000
visual_mark_color 0.33333333 0.33333333 0.33333333 0.2
text_highlight_color #555555
link_highlight_color #5555ff
synctex_highlight_color #aa0000
