# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Everforest Light (Medium) scheme by Márcio Sobel (https://github.com/marciosobel)

custom_background_color #fdf6e3
custom_text_color #475258

page_separator_color #fdf6e3
search_highlight_color #dfa000
status_bar_color #fdf6e3
status_bar_text_color #475258
ui_text_color #475258
ui_selected_text_color #475258
ui_background_color #f4f0d9
ui_selected_background_color #939f91
background_color #fdf6e3
visual_mark_color 0.57647059 0.62352941 0.56862745 0.2
text_highlight_color #939f91
link_highlight_color #3a94c5
synctex_highlight_color #f85552
