# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Penumbra Light Contrast Plus Plus scheme by Zachary Weiss (https://github.com/zacharyweiss)

custom_background_color #fffdfb
custom_text_color #181b1f

page_separator_color #fffdfb
search_highlight_color #a9b852
status_bar_color #fffdfb
status_bar_text_color #181b1f
ui_text_color #181b1f
ui_selected_text_color #181b1f
ui_background_color #fff7ed
ui_selected_background_color #dedede
background_color #fffdfb
visual_mark_color 0.87058824 0.87058824 0.87058824 0.2
text_highlight_color #dedede
link_highlight_color #6eb2fd
synctex_highlight_color #f58c81
