# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Valua scheme by Nonetrix (https://github.com/nonetrix)

custom_background_color #131f1f
custom_text_color #a5cbb9

page_separator_color #131f1f
search_highlight_color #dfe754
status_bar_color #131f1f
status_bar_text_color #a5cbb9
ui_text_color #a5cbb9
ui_selected_text_color #a5cbb9
ui_background_color #213132
ui_selected_background_color #3e5c53
background_color #131f1f
visual_mark_color 0.24313725 0.36078431 0.32549020 0.2
text_highlight_color #3e5c53
link_highlight_color #4ed2d2
synctex_highlight_color #d7586e
