# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# boo-shnickle-light scheme by boo-shnickle (@boo_shnickle)

custom_background_color #ffffcc
custom_text_color #3a3a2e

page_separator_color #ffffcc
search_highlight_color #fff299
status_bar_color #ffffcc
status_bar_text_color #3a3a2e
ui_text_color #3a3a2e
ui_selected_text_color #3a3a2e
ui_background_color #dedeb2
ui_selected_background_color #9c9c7d
background_color #ffffcc
visual_mark_color 0.61176471 0.61176471 0.49019608 0.2
text_highlight_color #9c9c7d
link_highlight_color #bfbfd9
synctex_highlight_color #ffbfa5
