# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Embers Light scheme by Jannik Siebert (https://github.com/janniks)

custom_background_color #dbd6d1
custom_text_color #2c2620

page_separator_color #dbd6d1
search_highlight_color #6d8257
status_bar_color #dbd6d1
status_bar_text_color #2c2620
ui_text_color #2c2620
ui_selected_text_color #2c2620
ui_background_color #beb6ae
ui_selected_background_color #8a8075
background_color #dbd6d1
visual_mark_color 0.54117647 0.50196078 0.45882353 0.2
text_highlight_color #8a8075
link_highlight_color #6d5782
synctex_highlight_color #826d57
