# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Neovim Dark scheme by https://github.com/neovim/neovim/blob/master/src/nvim/highlight_group.c

custom_background_color #14161b
custom_text_color #eef1f8

page_separator_color #14161b
search_highlight_color #fce094
status_bar_color #14161b
status_bar_text_color #eef1f8
ui_text_color #eef1f8
ui_selected_text_color #eef1f8
ui_background_color #07080d
ui_selected_background_color #9b9ea4
background_color #14161b
visual_mark_color 0.60784314 0.61960784 0.64313725 0.2
text_highlight_color #9b9ea4
link_highlight_color #a6dbff
synctex_highlight_color #ffc0b9
