# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Cacao scheme by Teshre

custom_background_color #160f0c
custom_text_color #eedecd

page_separator_color #160f0c
search_highlight_color #e8a84a
status_bar_color #160f0c
status_bar_text_color #eedecd
ui_text_color #eedecd
ui_selected_text_color #eedecd
ui_background_color #241913
ui_selected_background_color #766052
background_color #160f0c
visual_mark_color 0.46274510 0.37647059 0.32156863 0.2
text_highlight_color #766052
link_highlight_color #a89ad0
synctex_highlight_color #e0705c
