# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Hardhacker scheme by fe2-Nyxar, based on the https://github.com/hardhackerlabs

custom_background_color #211e2a
custom_text_color #f2e8f0

page_separator_color #211e2a
search_highlight_color #ebde76
status_bar_color #211e2a
status_bar_text_color #f2e8f0
ui_text_color #f2e8f0
ui_selected_text_color #f2e8f0
ui_background_color #2c2737
ui_selected_background_color #6e6780
background_color #211e2a
visual_mark_color 0.43137255 0.40392157 0.50196078 0.2
text_highlight_color #6e6780
link_highlight_color #95a6f4
synctex_highlight_color #e965a5
