# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# PaperColor Dark scheme by Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

custom_background_color #1c1c1c
custom_text_color #b8b8b8

page_separator_color #1c1c1c
search_highlight_color #ffaf00
status_bar_color #1c1c1c
status_bar_text_color #b8b8b8
ui_text_color #b8b8b8
ui_selected_text_color #b8b8b8
ui_background_color #363636
ui_selected_background_color #585858
background_color #1c1c1c
visual_mark_color 0.34509804 0.34509804 0.34509804 0.2
text_highlight_color #585858
link_highlight_color #5fafd7
synctex_highlight_color #ff5faf
