# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Chinoiserie Midnight scheme by Di Wang (https://cs.cmu.edu/~diw3)

custom_background_color #1d1d1d
custom_text_color #eee7f2

page_separator_color #1d1d1d
search_highlight_color #fbb957
status_bar_color #1d1d1d
status_bar_text_color #eee7f2
ui_text_color #eee7f2
ui_selected_text_color #eee7f2
ui_background_color #282828
ui_selected_background_color #918072
background_color #1d1d1d
visual_mark_color 0.56862745 0.50196078 0.44705882 0.2
text_highlight_color #918072
link_highlight_color #81a2a2
synctex_highlight_color #ed5a56
