# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Lichen Chartreuse Dark scheme by Aaron Colichia (https://aaron.colichia.org/)

custom_background_color #151613
custom_text_color #ecefe7

page_separator_color #151613
search_highlight_color #b2d084
status_bar_color #151613
status_bar_text_color #ecefe7
ui_text_color #ecefe7
ui_selected_text_color #ecefe7
ui_background_color #1c1e1a
ui_selected_background_color #899282
background_color #151613
visual_mark_color 0.53725490 0.57254902 0.50980392 0.2
text_highlight_color #899282
link_highlight_color #78adc4
synctex_highlight_color #e28b82
