# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Eldritch scheme by https://github.com/eldritch-theme

custom_background_color #212337
custom_text_color #f0f2f4

page_separator_color #212337
search_highlight_color #f1fc79
status_bar_color #212337
status_bar_text_color #f0f2f4
ui_text_color #f0f2f4
ui_selected_text_color #f0f2f4
ui_background_color #323449
ui_selected_background_color #7081d0
background_color #212337
visual_mark_color 0.43921569 0.50588235 0.81568627 0.2
text_highlight_color #7081d0
link_highlight_color #39ddfd
synctex_highlight_color #f16c75
