# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Gruvbox dark scheme by Tinted Theming (https://github.com/tinted-theming), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #282828
custom_text_color #fbf1c7

page_separator_color #282828
search_highlight_color #d79921
status_bar_color #282828
status_bar_text_color #fbf1c7
ui_text_color #fbf1c7
ui_selected_text_color #fbf1c7
ui_background_color #3c3836
ui_selected_background_color #665c54
background_color #282828
visual_mark_color 0.40000000 0.36078431 0.32941176 0.2
text_highlight_color #665c54
link_highlight_color #458588
synctex_highlight_color #cc241d
