# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Github Dark scheme by Tinted Theming (https://github.com/tinted-theming)

custom_background_color #161b22
custom_text_color #f0f6fc

page_separator_color #161b22
search_highlight_color #bb8009
status_bar_color #161b22
status_bar_text_color #f0f6fc
ui_text_color #f0f6fc
ui_selected_text_color #f0f6fc
ui_background_color #30363d
ui_selected_background_color #6e7681
background_color #161b22
visual_mark_color 0.43137255 0.46274510 0.50588235 0.2
text_highlight_color #6e7681
link_highlight_color #388bfd
synctex_highlight_color #f85149
