# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Mezcal scheme by Teshre

custom_background_color #13110e
custom_text_color #e9e1cf

page_separator_color #13110e
search_highlight_color #d9a441
status_bar_color #13110e
status_bar_text_color #e9e1cf
ui_text_color #e9e1cf
ui_selected_text_color #e9e1cf
ui_background_color #221f14
ui_selected_background_color #6e6450
background_color #13110e
visual_mark_color 0.43137255 0.39215686 0.31372549 0.2
text_highlight_color #6e6450
link_highlight_color #8aa6c0
synctex_highlight_color #da6e54
