# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Kanagawa Dragon scheme by Stefan Weigl-Bosker (https://github.com/sweiglbosker), Tommaso Laurenzi (https://github.com/rebelot/kanagawa.nvim)

custom_background_color #181616
custom_text_color #c8c093

page_separator_color #181616
search_highlight_color #c4b28a
status_bar_color #181616
status_bar_text_color #c8c093
ui_text_color #c8c093
ui_selected_text_color #c8c093
ui_background_color #282727
ui_selected_background_color #625e5a
background_color #181616
visual_mark_color 0.38431373 0.36862745 0.35294118 0.2
text_highlight_color #625e5a
link_highlight_color #8ba4b0
synctex_highlight_color #c4746e
