# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Catppuccin Latte scheme by https://github.com/catppuccin/catppuccin

custom_background_color #eff1f5
custom_text_color #dc8a78

page_separator_color #eff1f5
search_highlight_color #df8e1d
status_bar_color #eff1f5
status_bar_text_color #dc8a78
ui_text_color #dc8a78
ui_selected_text_color #dc8a78
ui_background_color #ccd0da
ui_selected_background_color #9ca0b0
background_color #eff1f5
visual_mark_color 0.61176471 0.62745098 0.69019608 0.2
text_highlight_color #9ca0b0
link_highlight_color #1e66f5
synctex_highlight_color #d20f39
