# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Swamp Dark scheme by Masroof Maindak (https://github.com/masroof-maindak)

custom_background_color #242015
custom_text_color #ebe0bb

page_separator_color #242015
search_highlight_color #a82d56
status_bar_color #242015
status_bar_text_color #ebe0bb
ui_text_color #ebe0bb
ui_selected_text_color #ebe0bb
ui_background_color #3a3124
ui_selected_background_color #5f4e41
background_color #242015
visual_mark_color 0.37254902 0.30588235 0.25490196 0.2
text_highlight_color #5f4e41
link_highlight_color #c1666b
synctex_highlight_color #db930d
