# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Pastelón de Amarillos scheme by Richard Martinez (https://sonofmartinus.com)

custom_background_color #fff4d6
custom_text_color #2f1c2e

page_separator_color #fff4d6
search_highlight_color #946400
status_bar_color #fff4d6
status_bar_text_color #2f1c2e
ui_text_color #2f1c2e
ui_selected_text_color #2f1c2e
ui_background_color #f2d083
ui_selected_background_color #80616b
background_color #fff4d6
visual_mark_color 0.50196078 0.38039216 0.41960784 0.2
text_highlight_color #80616b
link_highlight_color #1e5da8
synctex_highlight_color #bd3548
