# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Corduroy Dark scheme by taysatte (https://github.com/taysatte)

custom_background_color #141016
custom_text_color #ddd8df

page_separator_color #141016
search_highlight_color #f0bd9c
status_bar_color #141016
status_bar_text_color #ddd8df
ui_text_color #ddd8df
ui_selected_text_color #ddd8df
ui_background_color #1b151e
ui_selected_background_color #7d7082
background_color #141016
visual_mark_color 0.49019608 0.43921569 0.50980392 0.2
text_highlight_color #7d7082
link_highlight_color #dc92a3
synctex_highlight_color #e8758a
