# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Penumbra Dark Contrast Plus scheme by Zachary Weiss (https://github.com/zacharyweiss)

custom_background_color #181b1f
custom_text_color #fff7ed

page_separator_color #181b1f
search_highlight_color #9ca748
status_bar_color #181b1f
status_bar_text_color #fff7ed
ui_text_color #fff7ed
ui_selected_text_color #fff7ed
ui_background_color #24272b
ui_selected_background_color #636363
background_color #181b1f
visual_mark_color 0.38823529 0.38823529 0.38823529 0.2
text_highlight_color #636363
link_highlight_color #61a3e6
synctex_highlight_color #df7f78
