# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Papel scheme by Teshre

custom_background_color #f5efe2
custom_text_color #958b7c

page_separator_color #f5efe2
search_highlight_color #a8761a
status_bar_color #f5efe2
status_bar_text_color #958b7c
ui_text_color #958b7c
ui_selected_text_color #958b7c
ui_background_color #8e8576
ui_selected_background_color #9a8c76
background_color #f5efe2
visual_mark_color 0.60392157 0.54901961 0.46274510 0.2
text_highlight_color #9a8c76
link_highlight_color #2c6ca0
synctex_highlight_color #c0392b
