# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Pastelón de Amarillos Dark scheme by Richard Martinez (https://sonofmartinus.com)

custom_background_color #180d18
custom_text_color #ffebc5

page_separator_color #180d18
search_highlight_color #ffc84a
status_bar_color #180d18
status_bar_text_color #ffebc5
ui_text_color #ffebc5
ui_selected_text_color #ffebc5
ui_background_color #2a1424
ui_selected_background_color #a0747c
background_color #180d18
visual_mark_color 0.62745098 0.45490196 0.48627451 0.2
text_highlight_color #a0747c
link_highlight_color #5a9fe6
synctex_highlight_color #ff646a
