# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Charcoal Light scheme by Mubin Muhammad (https://github.com/mubin6th)

custom_background_color #cabda0
custom_text_color #4b3e26

page_separator_color #cabda0
search_highlight_color #110e06
status_bar_color #cabda0
status_bar_text_color #4b3e26
ui_text_color #4b3e26
ui_selected_text_color #4b3e26
ui_background_color #bcad8c
ui_selected_background_color #645538
background_color #cabda0
visual_mark_color 0.39215686 0.33333333 0.21960784 0.2
text_highlight_color #645538
link_highlight_color #251e0f
synctex_highlight_color #382e1b
