# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Cyberpunk scheme by benjujo

custom_background_color #000000
custom_text_color #f8f8f8

page_separator_color #000000
search_highlight_color #ffff00
status_bar_color #000000
status_bar_text_color #f8f8f8
ui_text_color #f8f8f8
ui_selected_text_color #f8f8f8
ui_background_color #2b2b2b
ui_selected_background_color #4f4f4f
background_color #000000
visual_mark_color 0.30980392 0.30980392 0.30980392 0.2
text_highlight_color #4f4f4f
link_highlight_color #4c83ff
synctex_highlight_color #ff0000
