# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Ocote scheme by Teshre

custom_background_color #14100c
custom_text_color #f1e9d9

page_separator_color #14100c
search_highlight_color #e8b43a
status_bar_color #14100c
status_bar_text_color #f1e9d9
ui_text_color #f1e9d9
ui_selected_text_color #f1e9d9
ui_background_color #211b13
ui_selected_background_color #6b6253
background_color #14100c
visual_mark_color 0.41960784 0.38431373 0.32549020 0.2
text_highlight_color #6b6253
link_highlight_color #82a6e0
synctex_highlight_color #e8635a
