# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Brasa scheme by Teshre

custom_background_color #1a0f0a
custom_text_color #f6e1cc

page_separator_color #1a0f0a
search_highlight_color #f0b23a
status_bar_color #1a0f0a
status_bar_text_color #f6e1cc
ui_text_color #f6e1cc
ui_selected_text_color #f6e1cc
ui_background_color #2b1c14
ui_selected_background_color #7a6150
background_color #1a0f0a
visual_mark_color 0.47843137 0.38039216 0.31372549 0.2
text_highlight_color #7a6150
link_highlight_color #9aa6e0
synctex_highlight_color #f2685a
