# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Everforest Dark Soft scheme by Sainnhe Park (https://github.com/sainnhe)

custom_background_color #333c43
custom_text_color #ddd8be

page_separator_color #333c43
search_highlight_color #dbbc7f
status_bar_color #333c43
status_bar_text_color #ddd8be
ui_text_color #ddd8be
ui_selected_text_color #ddd8be
ui_background_color #3a464c
ui_selected_background_color #859289
background_color #333c43
visual_mark_color 0.52156863 0.57254902 0.53725490 0.2
text_highlight_color #859289
link_highlight_color #7fbbb3
synctex_highlight_color #e67e80
