# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Penumbra Light scheme by Zachary Weiss (https://github.com/zacharyweiss)

custom_background_color #fffdfb
custom_text_color #303338

page_separator_color #fffdfb
search_highlight_color #8d9741
status_bar_color #fffdfb
status_bar_text_color #303338
ui_text_color #303338
ui_selected_text_color #303338
ui_background_color #fff7ed
ui_selected_background_color #bebebe
background_color #fffdfb
visual_mark_color 0.74509804 0.74509804 0.74509804 0.2
text_highlight_color #bebebe
link_highlight_color #5794d0
synctex_highlight_color #ca736c
