# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Jellybeans scheme by FredHappyface (https://github.com/fredHappyface), converted to Base16 by https://github.com/nonetrix

custom_background_color #121212
custom_text_color #dedede

page_separator_color #121212
search_highlight_color #ffdca0
status_bar_color #121212
status_bar_text_color #dedede
ui_text_color #dedede
ui_selected_text_color #dedede
ui_background_color #929292
ui_selected_background_color #c5c5c5
background_color #121212
visual_mark_color 0.77254902 0.77254902 0.77254902 0.2
text_highlight_color #c5c5c5
link_highlight_color #b1d8f6
synctex_highlight_color #ffa1a1
