# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Flexoki Dark scheme by Steph Ango (https://github.com/kepano/flexoki)

custom_background_color #100f0f
custom_text_color #e6e4d9

page_separator_color #100f0f
search_highlight_color #d0a215
status_bar_color #100f0f
status_bar_text_color #e6e4d9
ui_text_color #e6e4d9
ui_selected_text_color #e6e4d9
ui_background_color #1c1b1a
ui_selected_background_color #575653
background_color #100f0f
visual_mark_color 0.34117647 0.33725490 0.32549020 0.2
text_highlight_color #575653
link_highlight_color #4385be
synctex_highlight_color #d14d41
