# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Arroz con Dulce scheme by Richard Martinez

custom_background_color #fff8e7
custom_text_color #321c14

page_separator_color #fff8e7
search_highlight_color #855500
status_bar_color #fff8e7
status_bar_text_color #321c14
ui_text_color #321c14
ui_selected_text_color #321c14
ui_background_color #f7ebd3
ui_selected_background_color #c8a77a
background_color #fff8e7
visual_mark_color 0.78431373 0.65490196 0.47843137 0.2
text_highlight_color #c8a77a
link_highlight_color #5940a0
synctex_highlight_color #a11d48
