# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Yesterday Bright scheme by FroZnShiva (https://github.com/FroZnShiva)

custom_background_color #343d46
custom_text_color #eff1f5

page_separator_color #343d46
search_highlight_color #e7c547
status_bar_color #343d46
status_bar_text_color #eff1f5
ui_text_color #eff1f5
ui_selected_text_color #eff1f5
ui_background_color #4f5b66
ui_selected_background_color #a7adba
background_color #343d46
visual_mark_color 0.65490196 0.67843137 0.72941176 0.2
text_highlight_color #a7adba
link_highlight_color #7aa6da
synctex_highlight_color #d54e53
