# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# 0x96f scheme by Filip Janevski (https://0x96f.dev/theme)

custom_background_color #262427
custom_text_color #eae9eb

page_separator_color #262427
search_highlight_color #ffca58
status_bar_color #262427
status_bar_text_color #eae9eb
ui_text_color #eae9eb
ui_selected_text_color #eae9eb
ui_background_color #3b393c
ui_selected_background_color #676567
background_color #262427
visual_mark_color 0.40392157 0.39607843 0.40392157 0.2
text_highlight_color #676567
link_highlight_color #49cae4
synctex_highlight_color #ff7272
