# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Github Dark Dimmed scheme by Tinted Theming (https://github.com/tinted-theming)

custom_background_color #22272e
custom_text_color #cdd9e5

page_separator_color #22272e
search_highlight_color #ae7c14
status_bar_color #22272e
status_bar_text_color #cdd9e5
ui_text_color #cdd9e5
ui_selected_text_color #cdd9e5
ui_background_color #2d333b
ui_selected_background_color #636e7b
background_color #22272e
visual_mark_color 0.38823529 0.43137255 0.48235294 0.2
text_highlight_color #636e7b
link_highlight_color #dcbdfb
synctex_highlight_color #f69d50
