# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Arroz con Dulce Dark scheme by Richard Martinez

custom_background_color #21140f
custom_text_color #f8ebd3

page_separator_color #21140f
search_highlight_color #d9a441
status_bar_color #21140f
status_bar_text_color #f8ebd3
ui_text_color #f8ebd3
ui_selected_text_color #f8ebd3
ui_background_color #2c1a13
ui_selected_background_color #a98568
background_color #21140f
visual_mark_color 0.66274510 0.52156863 0.40784314 0.2
text_highlight_color #a98568
link_highlight_color #b99ac8
synctex_highlight_color #e07a8a
