# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# PaperColor Light scheme by Jon Leopard (http://github.com/jonleopard), Tinted Theming (https://github.com/tinted-theming), based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

custom_background_color #eeeeee
custom_text_color #525252

page_separator_color #eeeeee
search_highlight_color #d75f00
status_bar_color #eeeeee
status_bar_text_color #525252
ui_text_color #525252
ui_selected_text_color #525252
ui_background_color #c4c4c4
ui_selected_background_color #858585
background_color #eeeeee
visual_mark_color 0.52156863 0.52156863 0.52156863 0.2
text_highlight_color #858585
link_highlight_color #005f87
synctex_highlight_color #d70000
