# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Charcoal Dark scheme by Mubin Muhammad (https://github.com/mubin6th)

custom_background_color #120f09
custom_text_color #d6b891

page_separator_color #120f09
search_highlight_color #c0a179
status_bar_color #120f09
status_bar_text_color #d6b891
ui_text_color #d6b891
ui_selected_text_color #d6b891
ui_background_color #1e1812
ui_selected_background_color #66553f
background_color #120f09
visual_mark_color 0.40000000 0.33333333 0.24705882 0.2
text_highlight_color #66553f
link_highlight_color #d6b891
synctex_highlight_color #887254
