# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Charcoal Light scheme by Mubin Muhammad (https://github.com/mubin6th)

custom_background_color #d6b891
custom_text_color #413325

page_separator_color #d6b891
search_highlight_color #292016
status_bar_color #d6b891
status_bar_text_color #413325
ui_text_color #413325
ui_selected_text_color #413325
ui_background_color #c0a179
ui_selected_background_color #887254
background_color #d6b891
visual_mark_color 0.53333333 0.44705882 0.32941176 0.2
text_highlight_color #887254
link_highlight_color #120f09
synctex_highlight_color #413325
