# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Kanagawa Dragon scheme by Tommaso Laurenzi (https://github.com/rebelot)

custom_background_color #0d0c0c
custom_text_color #7a8382

page_separator_color #0d0c0c
search_highlight_color #c4b28a
status_bar_color #0d0c0c
status_bar_text_color #7a8382
ui_text_color #7a8382
ui_selected_text_color #7a8382
ui_background_color #1d1c19
ui_selected_background_color #737c73
background_color #0d0c0c
visual_mark_color 0.45098039 0.48627451 0.45098039 0.2
text_highlight_color #737c73
link_highlight_color #8ba4b0
synctex_highlight_color #c4746e
