# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Cerulean Signal Light scheme by Aaron Colichia (https://aaron.colichia.org/)

custom_background_color #f7f9fc
custom_text_color #202b3a

page_separator_color #f7f9fc
search_highlight_color #6f6300
status_bar_color #f7f9fc
status_bar_text_color #202b3a
ui_text_color #202b3a
ui_selected_text_color #202b3a
ui_background_color #eef4fb
ui_selected_background_color #637287
background_color #f7f9fc
visual_mark_color 0.38823529 0.44705882 0.52941176 0.2
text_highlight_color #637287
link_highlight_color #006fa8
synctex_highlight_color #b4233d
