# base16-sioyek (https://github.com/tinted-theming/base16-sioyek)
# Ayu Mirage scheme by Tinted Theming (https://github.com/tinted-theming), Ayu Theme (https://github.com/ayu-theme)

custom_background_color #1f2430
custom_text_color #d9d7ce

page_separator_color #1f2430
search_highlight_color #ffd173
status_bar_color #1f2430
status_bar_text_color #d9d7ce
ui_text_color #d9d7ce
ui_selected_text_color #d9d7ce
ui_background_color #242936
ui_selected_background_color #4a5059
background_color #1f2430
visual_mark_color 0.29019608 0.31372549 0.34901961 0.2
text_highlight_color #4a5059
link_highlight_color #73d0ff
synctex_highlight_color #f28779
